* {
    margin: 0px;
    padding: 0px;
}

.red, .white, .blue {
    width: 800px;
    height: 167px;
    display: block;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

.blue {
    background-color: #01a2df;
}